<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>data</key>
	<array>
		<dict>
			<key>description</key>
			<string>全部重写</string>
			<key>id</key>
			<string>402881826b6ad4ac016b6ad4bbb80009</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>7</integer>
					<key>id</key>
					<string>402881826b6ad4ac016b6ad4bbb8000a</string>
					<key>sample</key>
					<string>你过来</string>
					<key>startFrame</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>23</integer>
					<key>id</key>
					<string>402881826b6ad4ac016b6ad4bbb9000b</string>
					<key>sample</key>
					<string>老师说你论文不用再改了</string>
					<key>startFrame</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>40</integer>
					<key>id</key>
					<string>402881826b6ad4ac016b6ad4bbb9000c</string>
					<key>sample</key>
					<string>真的假的？</string>
					<key>startFrame</key>
					<integer>33</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>56</integer>
					<key>id</key>
					<string>402881826b6ad4ac016b6ad4bbb9000d</string>
					<key>sample</key>
					<string>没骗我吧？</string>
					<key>startFrame</key>
					<integer>48</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>99</integer>
					<key>id</key>
					<string>402881826b6ad4ac016b6ad4bbb9000e</string>
					<key>sample</key>
					<string>老师说偏题太严重，全部重写</string>
					<key>startFrame</key>
					<integer>82</integer>
				</dict>
			</array>
			<key>title</key>
			<string>不用改了</string>
			<key>url</key>
			<string>http://wx1.sinaimg.cn/mw690/e755eb0cgy1g45n6gh9khg208c04qe82.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>那你去吧</string>
			<key>id</key>
			<string>402881826b6ab01d016b6ab02bc90000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>16</integer>
					<key>id</key>
					<string>402881826b6ab01d016b6ab02bd70001</string>
					<key>sample</key>
					<string>不上班行不行啊</string>
					<key>startFrame</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>39</integer>
					<key>id</key>
					<string>402881826b6ab01d016b6ab02bd70002</string>
					<key>sample</key>
					<string>不上班你养我啊</string>
					<key>startFrame</key>
					<integer>23</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>57</integer>
					<key>id</key>
					<string>402881826b6ab01d016b6ab02bd70003</string>
					<key>sample</key>
					<string>那你去吧</string>
					<key>startFrame</key>
					<integer>48</integer>
				</dict>
			</array>
			<key>title</key>
			<string>我养你啊</string>
			<key>url</key>
			<string>http://wx4.sinaimg.cn/mw690/e755eb0cgy1g45mt5d0y2g208c04qnpd.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>我玩这游戏已经五年了！</string>
			<key>id</key>
			<string>402881826b6aa9b3016b6aa9c5b00000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>25</integer>
					<key>id</key>
					<string>402881826b6aa9b3016b6aa9c5be0001</string>
					<key>sample</key>
					<string>五年</string>
					<key>startFrame</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>62</integer>
					<key>id</key>
					<string>402881826b6aa9b3016b6aa9c5bf0002</string>
					<key>sample</key>
					<string>玩这个游戏五年了</string>
					<key>startFrame</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>103</integer>
					<key>id</key>
					<string>402881826b6aa9b3016b6aa9c5bf0003</string>
					<key>sample</key>
					<string>别人都已经上王者了</string>
					<key>startFrame</key>
					<integer>78</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>123</integer>
					<key>id</key>
					<string>402881826b6aa9b3016b6aa9c5bf0004</string>
					<key>sample</key>
					<string>我还是个渣渣</string>
					<key>startFrame</key>
					<integer>110</integer>
				</dict>
			</array>
			<key>title</key>
			<string>五年了！</string>
			<key>url</key>
			<string>http://wx4.sinaimg.cn/mw690/e755eb0cgy1g45miauockg208c04q7wi.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>我进群是来学习的</string>
			<key>id</key>
			<string>402881846aaa16cc016aaa16d7550000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>10</integer>
					<key>id</key>
					<string>402881846aaa16cc016aaa16d75f0001</string>
					<key>sample</key>
					<string>我进群是来学习的</string>
					<key>startFrame</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>23</integer>
					<key>id</key>
					<string>402881846aaa16cc016aaa16d75f0002</string>
					<key>sample</key>
					<string>结果这个群呢</string>
					<key>startFrame</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>41</integer>
					<key>id</key>
					<string>402881846aaa16cc016aaa16d75f0003</string>
					<key>sample</key>
					<string>Duang...</string>
					<key>startFrame</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>59</integer>
					<key>id</key>
					<string>402881846aaa16cc016aaa16d75f0004</string>
					<key>sample</key>
					<string>一天到晚都在瞎几把聊</string>
					<key>startFrame</key>
					<integer>45</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>76</integer>
					<key>id</key>
					<string>402881846aaa16cc016aaa16d75f0005</string>
					<key>sample</key>
					<string>不是嘤嘤嘤就是喊女装</string>
					<key>startFrame</key>
					<integer>63</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>90</integer>
					<key>id</key>
					<string>402881846aaa16cc016aaa16d75f0006</string>
					<key>sample</key>
					<string>我都忘了我是来干嘛的</string>
					<key>startFrame</key>
					<integer>77</integer>
				</dict>
			</array>
			<key>title</key>
			<string>duang</string>
			<key>url</key>
			<string>http://wx2.sinaimg.cn/mw690/e755eb0cgy1g2yd39t9sog20ay05ye83.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>我觉得吧，压力也没那么大</string>
			<key>id</key>
			<string>402881826a8843a1016a8843b3220000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>20</integer>
					<key>id</key>
					<string>402881826a8843a1016a8843b32f0001</string>
					<key>sample</key>
					<string>他们说炒股费脑子</string>
					<key>startFrame</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>45</integer>
					<key>id</key>
					<string>402881826a8843a1016a8843b32f0002</string>
					<key>sample</key>
					<string>我20岁炒股到现在5年了</string>
					<key>startFrame</key>
					<integer>22</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>76</integer>
					<key>id</key>
					<string>402881826a8843a1016a8843b3300003</string>
					<key>sample</key>
					<string>我觉得吧，压力也没那么大</string>
					<key>startFrame</key>
					<integer>49</integer>
				</dict>
			</array>
			<key>title</key>
			<string>压力不大</string>
			<key>url</key>
			<string>http://wx3.sinaimg.cn/mw690/e755eb0cgy1g2qrwhf5y9g208c056x4e.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>星际还是魔兽？？</string>
			<key>id</key>
			<string>4028fa826a85f71e016a85f7391d0000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>14</integer>
					<key>id</key>
					<string>4028fa826a85f71e016a85f739270001</string>
					<key>sample</key>
					<string>平时你打电子游戏吗</string>
					<key>startFrame</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>27</integer>
					<key>id</key>
					<string>4028fa826a85f71e016a85f739270002</string>
					<key>sample</key>
					<string>偶尔</string>
					<key>startFrame</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>41</integer>
					<key>id</key>
					<string>4028fa826a85f71e016a85f739270003</string>
					<key>sample</key>
					<string>星际还是魔兽</string>
					<key>startFrame</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>61</integer>
					<key>id</key>
					<string>4028fa826a85f71e016a85f739280004</string>
					<key>sample</key>
					<string>连连看！</string>
					<key>startFrame</key>
					<integer>56</integer>
				</dict>
			</array>
			<key>title</key>
			<string>曾小贤答题</string>
			<key>url</key>
			<string>http://wx3.sinaimg.cn/mw690/e755eb0cgy1g2q9h7vt1og208c0567wh.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>先登录！</string>
			<key>id</key>
			<string>4028fa826a85ee41016a85ee59040000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>13</integer>
					<key>id</key>
					<string>4028fa826a85ee41016a85ee59110001</string>
					<key>sample</key>
					<string>改密码前先登录！</string>
					<key>startFrame</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>28</integer>
					<key>id</key>
					<string>4028fa826a85ee41016a85ee59120002</string>
					<key>sample</key>
					<string>忘记密码了怎么登陆？</string>
					<key>startFrame</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>47</integer>
					<key>id</key>
					<string>4028fa826a85ee41016a85ee59120003</string>
					<key>sample</key>
					<string>先找回密码！</string>
					<key>startFrame</key>
					<integer>31</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>64</integer>
					<key>id</key>
					<string>4028fa826a85ee41016a85ee59120004</string>
					<key>sample</key>
					<string>我要怎么找回密码？！</string>
					<key>startFrame</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>85</integer>
					<key>id</key>
					<string>4028fa826a85ee41016a85ee59120005</string>
					<key>sample</key>
					<string>先登录！！！</string>
					<key>startFrame</key>
					<integer>71</integer>
				</dict>
			</array>
			<key>title</key>
			<string>改密码</string>
			<key>url</key>
			<string>http://wx1.sinaimg.cn/mw690/e755eb0cgy1g2q901logzg206o03rx1v.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>什么冬梅？</string>
			<key>id</key>
			<string>4028fa826a85dfa9016a85dfc0e40000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>34</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ee0001</string>
					<key>sample</key>
					<string>大爷，302是马冬梅家吗?</string>
					<key>startFrame</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>42</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ef0002</string>
					<key>sample</key>
					<string>马什么梅?</string>
					<key>startFrame</key>
					<integer>36</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>54</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ef0003</string>
					<key>sample</key>
					<string>马冬梅！</string>
					<key>startFrame</key>
					<integer>43</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>61</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ef0004</string>
					<key>sample</key>
					<string>什么冬梅？</string>
					<key>startFrame</key>
					<integer>56</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>76</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ef0005</string>
					<key>sample</key>
					<string>马冬梅啊！</string>
					<key>startFrame</key>
					<integer>65</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>85</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ef0006</string>
					<key>sample</key>
					<string>马冬什么？</string>
					<key>startFrame</key>
					<integer>80</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>99</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ef0007</string>
					<key>sample</key>
					<string>行，大爷你先凉快吧</string>
					<key>startFrame</key>
					<integer>94</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>104</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ef0008</string>
					<key>sample</key>
					<string>好嘞~</string>
					<key>startFrame</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>130</integer>
					<key>id</key>
					<string>4028fa826a85dfa9016a85dfc0ef0009</string>
					<key>sample</key>
					<string>马冬梅！</string>
					<key>startFrame</key>
					<integer>127</integer>
				</dict>
			</array>
			<key>title</key>
			<string>马冬梅</string>
			<key>url</key>
			<string>http://wx3.sinaimg.cn/mw690/e755eb0cgy1g2q8j6l5irg205w03c1kx.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>谁赞成-谁反对</string>
			<key>id</key>
			<string>4028fa826a85cdcd016a85cde0790000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>17</integer>
					<key>id</key>
					<string>4028fa826a85cdcd016a85cde0870001</string>
					<key>sample</key>
					<string>我话讲完了</string>
					<key>startFrame</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>37</integer>
					<key>id</key>
					<string>4028fa826a85cdcd016a85cde0870002</string>
					<key>sample</key>
					<string>谁赞成 谁反对</string>
					<key>startFrame</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>45</integer>
					<key>id</key>
					<string>4028fa826a85cdcd016a85cde0870003</string>
					<key>sample</key>
					<string>我反对</string>
					<key>startFrame</key>
					<integer>39</integer>
				</dict>
			</array>
			<key>title</key>
			<string>影帝的问候</string>
			<key>url</key>
			<string>http://wx3.sinaimg.cn/mw690/e755eb0cgy1g2q8669lhug208c04o4qp.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>我听见有人夸我帅</string>
			<key>id</key>
			<string>4028fa826a85bf7c016a85bf8e670000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>14</integer>
					<key>id</key>
					<string>4028fa826a85bf7c016a85bf8e720001</string>
					<key>sample</key>
					<string>昨天听到有人说我长得帅</string>
					<key>startFrame</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>42</integer>
					<key>id</key>
					<string>4028fa826a85bf7c016a85bf8e720002</string>
					<key>sample</key>
					<string>吓得我立马去照镜子</string>
					<key>startFrame</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>69</integer>
					<key>id</key>
					<string>4028fa826a85bf7c016a85bf8e720003</string>
					<key>sample</key>
					<string>嘿，你还别说</string>
					<key>startFrame</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>83</integer>
					<key>id</key>
					<string>4028fa826a85bf7c016a85bf8e720004</string>
					<key>sample</key>
					<string>还真有点帅</string>
					<key>startFrame</key>
					<integer>77</integer>
				</dict>
			</array>
			<key>title</key>
			<string>郑伊健第一诫</string>
			<key>url</key>
			<string>http://wx4.sinaimg.cn/mw690/e755eb0cgy1g2xy05qaebg208w054hdt.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>有钱真的可以为所欲为</string>
			<key>id</key>
			<string>4028fa826a678e22016a678e35bb0000</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>18</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c80001</string>
					<key>sample</key>
					<string>好啊</string>
					<key>startFrame</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>35</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c80002</string>
					<key>sample</key>
					<string>我是一等良民不说</string>
					<key>startFrame</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>57</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c90003</string>
					<key>sample</key>
					<string>就算你真想诬告我</string>
					<key>startFrame</key>
					<integer>42</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>78</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c90004</string>
					<key>sample</key>
					<string>我也有的是钱找律师帮我</string>
					<key>startFrame</key>
					<integer>59</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>90</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c90005</string>
					<key>sample</key>
					<string>我想我根本不用坐牢</string>
					<key>startFrame</key>
					<integer>80</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>102</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c90006</string>
					<key>sample</key>
					<string>你别以为有钱就可以为所欲为</string>
					<key>startFrame</key>
					<integer>93</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>129</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c90007</string>
					<key>sample</key>
					<string>sorry，有钱真的能为所欲为</string>
					<key>startFrame</key>
					<integer>109</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>157</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c90008</string>
					<key>sample</key>
					<string>不过我想你不会明白这种感觉</string>
					<key>startFrame</key>
					<integer>145</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>165</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c90009</string>
					<key>sample</key>
					<string>哈哈哈 不明白</string>
					<key>startFrame</key>
					<integer>158</integer>
				</dict>
			</array>
			<key>title</key>
			<string>为所欲为</string>
			<key>url</key>
			<string>http://wx3.sinaimg.cn/large/e755eb0cgy1g2j8mfpxf9g208c04ou0x.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>铁骨铮铮-王境泽</string>
			<key>id</key>
			<string>4028fa826a678e22016a678e35c9000a</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>10</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c9000b</string>
					<key>sample</key>
					<string>我王境泽就是饿死</string>
					<key>startFrame</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>24</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35c9000c</string>
					<key>sample</key>
					<string>死外边，从这儿跳下去</string>
					<key>startFrame</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>36</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca000d</string>
					<key>sample</key>
					<string>也不会吃你们一点东西</string>
					<key>startFrame</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>50</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca000e</string>
					<key>sample</key>
					<string>真香</string>
					<key>startFrame</key>
					<integer>37</integer>
				</dict>
			</array>
			<key>title</key>
			<string>真香</string>
			<key>url</key>
			<string>http://wx4.sinaimg.cn/mw690/e755eb0cgy1g2j8m83raug208c04o4oa.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>打工是不可能打工的</string>
			<key>id</key>
			<string>4028fa826a678e22016a678e35ca000f</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>10</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca0010</string>
					<key>sample</key>
					<string>没有钱啊 肯定要做啊</string>
					<key>startFrame</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>23</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca0011</string>
					<key>sample</key>
					<string>不做的话没有钱用</string>
					<key>startFrame</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>28</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca0012</string>
					<key>sample</key>
					<string>那你不会去打工啊</string>
					<key>startFrame</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>36</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca0013</string>
					<key>sample</key>
					<string>有手有脚的</string>
					<key>startFrame</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>51</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca0014</string>
					<key>sample</key>
					<string>打工是不可能打工的</string>
					<key>startFrame</key>
					<integer>37</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>66</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca0015</string>
					<key>sample</key>
					<string>这辈子是不可能打工的</string>
					<key>startFrame</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>77</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35ca0016</string>
					<key>sample</key>
					<string>做生意又不会做</string>
					<key>startFrame</key>
					<integer>69</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>97</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb0017</string>
					<key>sample</key>
					<string>就是偷这种东西</string>
					<key>startFrame</key>
					<integer>79</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>120</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb0018</string>
					<key>sample</key>
					<string>才能维持的了生活这样子</string>
					<key>startFrame</key>
					<integer>103</integer>
				</dict>
			</array>
			<key>title</key>
			<string>切格瓦拉</string>
			<key>url</key>
			<string>http://wx3.sinaimg.cn/mw690/e755eb0cgy1g2j8m28gc9g208c04ohdt.gif</string>
		</dict>
		<dict>
			<key>description</key>
			<string>乌蝇哥-真香</string>
			<key>id</key>
			<string>4028fa826a678e22016a678e35cb0019</string>
			<key>splitList</key>
			<array>
				<dict>
					<key>endFrame</key>
					<integer>16</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb001a</string>
					<key>sample</key>
					<string>我乌蝇哥就算饿死，死外边</string>
					<key>startFrame</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>23</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb001b</string>
					<key>sample</key>
					<string>从这里跳下去，我也。。。</string>
					<key>startFrame</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>32</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb001c</string>
					<key>sample</key>
					<string>台词说错了</string>
					<key>startFrame</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>41</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb001d</string>
					<key>sample</key>
					<string>啊？</string>
					<key>startFrame</key>
					<integer>34</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>50</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb001e</string>
					<key>sample</key>
					<string>你台词说错了</string>
					<key>startFrame</key>
					<integer>43</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>57</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb001f</string>
					<key>sample</key>
					<string>那怎么办</string>
					<key>startFrame</key>
					<integer>51</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>72</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb0020</string>
					<key>sample</key>
					<string>接着说</string>
					<key>startFrame</key>
					<integer>58</integer>
				</dict>
				<dict>
					<key>endFrame</key>
					<integer>95</integer>
					<key>id</key>
					<string>4028fa826a678e22016a678e35cb0021</string>
					<key>sample</key>
					<string>真香</string>
					<key>startFrame</key>
					<integer>86</integer>
				</dict>
			</array>
			<key>title</key>
			<string>歌神念错台词</string>
			<key>url</key>
			<string>http://wx4.sinaimg.cn/mw690/e755eb0cgy1g2j8mm85cpg208c04o7np.gif</string>
		</dict>
	</array>
	<key>msg</key>
	<string>操作成功</string>
</dict>
</plist>
